@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

/* Typical Responsive Breakpoints (Mobile-First)
---------------------------------------------------------
Extra-small (smartphones pequenos): até 360px
Small (smartphones maiores / landscape): 361px até 576px
Medium (tablets portrait): 577px até 768px
Large (tablets landscape / laptops): 769px até 992px
Extra-large (desktops padrão): 993px até 1200px
XX-large (monitores grandes / 4K): acima de 1200px

Padrão moderno: usar @media (min-width) e deixar o CSS base para mobile.
*/

@media screen and (min-width: 768px) {
    
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}