@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #0b0f14;
}

header {
    background-color: #1A1F26;
    color: #D6D6D6;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #2A3038;
    color: #D6D6D6;
    border-top: 2px solid #0B0F14;
}

menu > ul > li > a:hover {
    background-color: #6E0F1A;
}

main {
    width: 90vw;
    background-color: #232A33;
    color: #E6E6E6;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 10px;
    color: #a71829;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
    color: #C8CDD2;
}