@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 100vh;
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
}

a {
    text-align: right;
    color: white;
    text-decoration: none;
}

nav img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

nav img:hover {
    border: 2px solid rgba(255, 255, 255, 0.747);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    transition: transform .5s, border 1s;
}

div.iphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 90vw;
    max-width: 311px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.iphone iframe {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
    border: none;
    display: block;
}