@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

ul li {
    display: flex;
    justify-content: flex-end;
    color: white;
}

a {
    text-align: right;
    color: white;
    text-decoration: none;
}

ul > li > a > img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

div.iphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

.iphone iframe {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}